Repository discordeno/Discordeno: changes, and which Codecov flags are due for each by the changed paths.
All: bot:unit, discordeno:unit, embeds:unit, gatway:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

Create site
  .github/workflows/site
Due: none

Rename site to site.yml
  .github/workflows/site.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4f2afb5246595a1b2662ed1ec1cd838560c0d607
  benchmarksResult/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 5381e0e3f7abc8ce94a68dccfada0d5ffc78b7ef
  benchmarksResult/data.js
Due: none

combine lint staged action into one
  package.json
Due: none

style: fix
  packages/embeds/src/index.ts
Due: embeds:unit

Discordeno Documentation (#2673)
  .gitignore
  apps/site/docs/generated/.nojekyll
  apps/site/docs/generated/README.md
  apps/site/docs/generated/modules.md
  jsdoc2md.json
  package.json
  packages/bot/src/helpers/guilds/events/createScheduledEvent.ts
  packages/bot/src/helpers/guilds/events/getScheduledEventUsers.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/toggles/emoji.ts
  packages/bot/src/transformers/toggles/guild.ts
  packages/bot/src/transformers/toggles/member.ts
  packages/bot/src/transformers/toggles/role.ts
  packages/bot/src/transformers/toggles/user.ts
  packages/bot/src/transformers/toggles/voice.ts
  packages/bot/src/utils/routes.ts
  packages/embeds/src/index.ts
  packages/gateway/src/manager/gatewayManager.ts
  packages/gateway/src/manager/resharder.ts
  packages/gateway/src/manager/shardManager.ts
  packages/gateway/src/shard/connect.ts
  packages/plugins/utils/src/sendDirectMessage.ts
  packages/rest/src/createRequestBody.ts
  packages/rest/src/processRequest.ts
  packages/rest/src/processRequestHeaders.ts
  packages/rest/src/runMethod.ts
  packages/rest/src/runProxyMethod.ts
  packages/rest/src/sendRequest.ts
  readme.hbs
  typedoc.json
  yarn.lock
Due: bot:unit, embeds:unit, rest:unit, cache-plugin:unit, utils-plugin:unit

Update site.yml
  .github/workflows/site.yml
Due: none

Update site.yml (#2674)
  .github/workflows/site.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 41d9ec4025b79a5d243eaf5743e42c8147830a4d
  benchmarksResult/data.js
Due: none

[Scheduled] Auto patch objects
  cache/cachedObject/announcement-channel.json
  cache/cachedObject/guild.json
  cache/cachedObject/member.json
  cache/cachedObject/message.json
  cache/cachedObject/moderator-channel.json
  cache/cachedObject/role.json
  cache/cachedObject/rules.json
  cache/cachedObject/stage-channel.json
  cache/cachedObject/text-channel.json
  cache/cachedObject/user.json
  cache/cachedObject/voice-channel.json
Due: none

test: add rest test
  packages/rest/.c8rc.json
  packages/rest/.mocharc.json
  packages/rest/package.json
  packages/rest/tests/RestRequestRejection.spec.ts
  packages/rest/tests/checkRateLimits.spec.ts
  packages/rest/tests/cleanupQueues.spec.ts
  packages/rest/tests/processRateLimitedPaths.spec.ts
  packages/rest/tests/processRequestHeaders.spec.ts
  packages/rest/tests/simplifyUrl.spec.ts
  yarn.lock
Due: rest:unit

ci: enable codecov
  .github/workflows/test.yml
Due: none

fix: type
  packages/bot/src/utils/routes.ts
  packages/client/src/transformers/application.ts
Due: bot:unit

fix: disable docs sync repo
  .github/workflows/sync_repos.yml
Due: none

Update docusaurus.config.js
  site/docusaurus.config.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 349b9151f3338a9f090f1616e0f43a328164d3ea
  benchmarksResult/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ef452b5d54f151cfbf7a4d913fd5bada1a8e0173
  benchmarksResult/data.js
Due: none

Chore: update site
  script/generateHandlerData.ts
  site/docs/docs/architecture.mdx
  site/docs/docs/benchmark.mdx
  site/docs/docs/getting-started.md
  site/docs/docs/migrating.md
  site/docs/tutorial/big-bot-guide/gateway.md
  site/docusaurus.config.js
  site/package.json
  site/src/components/Benchmark.tsx
  site/src/components/architecture/BaseFlowChart.tsx
  site/src/components/architecture/FlowChart.tsx
  site/src/components/architecture/FlowChart2.tsx
  site/src/components/architecture/FlowChart3.tsx
  site/src/pages/benchmark.tsx
  site/src/pages/index.tsx
  site/yarn.lock
Due: none

fix: only deploy on push and dispatch
  .github/workflows/site.yml
Due: none

fix: on:
  .github/workflows/site.yml
Due: none

ci: merge workflow
  .github/workflows/site.yml
  .github/workflows/site_tests.yml
Due: none

ci: fix if
  .github/workflows/site.yml
Due: none

ci: add release to gh per commit
  .github/workflows/release.yml
  .npmignore
  package.json
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/embeds/package.json
  packages/gateway/package.json
  packages/logger/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  scripts/bumpVersionByCommit.js
Due: bot:unit, discordeno:unit, embeds:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

fix: ci syntax
  .github/workflows/release.yml
Due: none

fix: package version
  package.json
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/embeds/package.json
  packages/gateway/package.json
  packages/logger/package.json
  packages/plugins/cache/package.json
  packages/plugins/utils/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
Due: bot:unit, discordeno:unit, embeds:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, utils-plugin:unit

fix: publish script
  .github/workflows/release.yml
  .npmignore
  packages/bot/README.md
  packages/rest/README.md
  packages/rest/package.json
  packages/types/README.md
  packages/utils/README.md
Due: bot:unit, rest:unit, utils:unit

fix: remove private from gateway
  packages/gateway/package.json
Due: none

ci: add filter for changes
  .github/workflows/release.yml
Due: none

fix: ci syntex
  .github/workflows/release.yml
Due: none

ci: try fix path filter
  .github/workflows/release.yml
Due: none

test: add test
  packages/bot/tests/empty.spec.ts
  packages/bot/tests/utils.test.ts
  packages/bot/tests/utils/utils.spec.ts
  packages/discordeno/oldTest/webhook/deleteWebhook.test.ts
  packages/gateway/package.json
  packages/utils/tests/base64.spec.ts
  packages/utils/tests/bigint.spec.ts
  packages/utils/tests/collection.spec.ts
  packages/utils/tests/hash.spec.ts
  packages/utils/tests/token.spec.ts
  packages/utils/tests/validateLength.spec.ts
Due: bot:unit, discordeno:unit, utils:unit

ci: fix string and boolean
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  bot:unit: any of: packages/bot
  discordeno:unit: any of: packages/discordeno
  embeds:unit: any of: packages/embeds
  gatway:unit: any of: packages/gatway
  logger:unit: any of: packages/logger
  rest:unit: any of: packages/rest
  utils:unit: any of: packages/utils
  cache-plugin:unit: any of: packages/plugins/utils
  fileloader-plugin:unit: any of: packages/plugins/fileloader
  permissions-plugin:unit: any of: packages/plugins/permissions
  utils-plugin:unit: any of: packages/plugins/utils
  validations-plugin:unit: any of: packages/plugins/validations
