Repository discordeno/Discordeno: changes, and which Codecov flags are due for each by the changed paths.
All: bot:unit, discordeno:unit, embeds:unit, gatway:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

codecov.yml:

flags:
  bot:unit:
    paths:
      - packages/bot
    carryforward: false
  discordeno:unit:
    paths:
      - packages/discordeno
    carryforward: false
  embeds:unit:
    paths:
      - packages/embeds
    carryforward: false
  gatway:unit:
    paths:
      - packages/gatway
    carryforward: false
  logger:unit:
    paths:
      - packages/logger
    carryforward: false
  rest:unit:
    paths:
      - packages/rest
    carryforward: false
  utils:unit:
    paths:
      - packages/utils
    carryforward: false
  cache-plugin:unit:
    paths:
      - packages/plugins/utils
    carryforward: false
  fileloader-plugin:unit:
    paths:
      - packages/plugins/fileloader
    carryforward: false
  permissions-plugin:unit:
    paths:
      - packages/plugins/permissions
    carryforward: false
  utils-plugin:unit:
    paths:
      - packages/plugins/utils
    carryforward: false
  validations-plugin:unit:
    paths:
      - packages/plugins/validations
    carryforward: false
comment:
  show_carryforward_flags: true

fix: package and ci
  .github/workflows/release.yml
  packages/eslint-config-discordeno/package.json
  yarn.lock
Due: none

chore: fix turbo type cache
  turbo.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 987b4058cb5539b52710f8268007ddb4e6b5cd97
  benchmarksResult/data.js
Due: none

ci: also publish to npm
  .github/workflows/release.yml
Due: none

ci: change to public
  .github/workflows/release.yml
Due: none

fix: not publish to npm
  .github/workflows/release.yml
Due: none

fix: dependencies
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/discordeno/src/index.ts
  packages/gateway/package.json
  packages/rest/package.json
  yarn.lock
Due: bot:unit, discordeno:unit, rest:unit

chore: fix fmt script
  examples/bigbot/package.json
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  turbo.json
Due: bot:unit, discordeno:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

fix: better rest typecheck Closes #2621
  packages/bot/src/helpers/guilds/automod/createAutomodRule.ts
  packages/types/src/discord.ts
Due: bot:unit

fix: run yarn install
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/plugins/cache/package.json
  packages/plugins/utils/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: bot:unit, discordeno:unit, rest:unit, utils:unit, cache-plugin:unit, utils-plugin:unit

Improve grammar and clarity on the site
  site/docs/architecture.mdx
  site/docs/frequently-asked-questions.md
Due: none

Improve grammar and clarity on the site (#2676)
  site/docs/architecture.mdx
  site/docs/frequently-asked-questions.md
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6b66b155dd740ef44267428e9180d8263e60606a
  benchmarksResult/data.js
Due: none

test: move bot utils test
  packages/bot/tests/utils.spec.ts
  packages/bot/tests/utils/utils.spec.ts
  packages/utils/tests/utils.spec.ts
Due: bot:unit, utils:unit

reverse change to release.yml
  .github/workflows/release.yml
Due: none

[Scheduled] Auto patch objects
  cache/cachedObject/announcement-channel.json
  cache/cachedObject/guild.json
  cache/cachedObject/member.json
  cache/cachedObject/message.json
  cache/cachedObject/moderator-channel.json
  cache/cachedObject/role.json
  cache/cachedObject/rules.json
  cache/cachedObject/stage-channel.json
  cache/cachedObject/text-channel.json
  cache/cachedObject/user.json
  cache/cachedObject/voice-channel.json
Due: none

chore: add clean build
  package.json
  packages/bot/package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/embeds/package.json
  packages/gateway/package.json
  packages/logger/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  turbo.json
  yarn.lock
Due: bot:unit, discordeno:unit, embeds:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

fix: change deps from bot to dd
  apps/site/docs/generated/modules.md
  package.json
  packages/embeds/src/index.ts
  packages/plugins/cache/package.json
  packages/plugins/cache/src/addCacheCollections.ts
  packages/plugins/cache/src/dispatchRequirements.ts
  packages/plugins/cache/src/index.ts
  packages/plugins/cache/src/setupCacheEdits.ts
  packages/plugins/cache/src/setupCacheRemovals.ts
  packages/plugins/cache/src/sweepers.ts
  packages/plugins/fileloader/package.json
  packages/plugins/fileloader/src/index.ts
  packages/plugins/utils/index.ts
  packages/plugins/utils/package.json
  packages/plugins/utils/src/channels.ts
  packages/plugins/utils/src/disconnectMember.ts
  packages/plugins/utils/src/fetchAndRetrieveMembers.ts
  packages/plugins/utils/src/getMembersPaginated.ts
  packages/plugins/utils/src/moveMember.ts
  packages/plugins/utils/src/sendAutoCompleteChoices.ts
  packages/plugins/utils/src/sendDirectMessage.ts
  packages/plugins/utils/src/sendPrivateInteractionResponse.ts
  packages/plugins/utils/src/sendTextMessage.ts
  packages/plugins/utils/src/suppressEmbeds.ts
  packages/plugins/utils/src/threads.ts
  typedoc.json
  yarn.lock
Due: embeds:unit, cache-plugin:unit, fileloader-plugin:unit, utils-plugin:unit

chore: update yarn lock
  package.json
  yarn.lock
Due: none

test: temp remove test from logger
  packages/logger/.c8rc.json
  packages/logger/.mocharc.json
  packages/logger/package.json
  yarn.lock
Due: logger:unit

refactor: remove transformers in helpers/channel
  packages/rest/src/helpers/channels/announcements/followAnnouncementChannel.ts
  packages/rest/src/helpers/channels/createChannel.ts
  packages/rest/src/helpers/channels/editChannel.ts
  packages/rest/src/helpers/channels/forums/createForumThread.ts
  packages/rest/src/helpers/channels/getChannel.ts
  packages/rest/src/helpers/channels/getChannelInvites.ts
  packages/rest/src/helpers/channels/getChannels.ts
  packages/rest/src/helpers/channels/stages/createStageInstance.ts
  packages/rest/src/helpers/channels/stages/editStageInstance.ts
  packages/rest/src/helpers/channels/stages/getStageInstance.ts
  packages/rest/src/helpers/channels/threads/getActiveThreads.ts
  packages/rest/src/helpers/channels/threads/getPrivateArchivedThreads.ts
  packages/rest/src/helpers/channels/threads/getPrivateJoinedArchivedThreads.ts
  packages/rest/src/helpers/channels/threads/getPublicArchivedThreads.ts
  packages/rest/src/helpers/channels/threads/getThreadMember.ts
  packages/rest/src/helpers/channels/threads/getThreadMembers.ts
  packages/rest/src/helpers/channels/threads/startThreadWithMessage.ts
  packages/rest/src/helpers/channels/threads/startThreadWithoutMessage.ts
  packages/rest/src/transformer.ts
  packages/types/src/shared.ts
Due: rest:unit

fix for #2678 exporting autoModerationRule
  transformers/mod.ts
Due: none

fix for #2678 exporting autoModerationRule (#2679)
  transformers/mod.ts
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for df5910612147aa96c20aa028c8914c264df93538
  benchmarksResult/data.js
Due: none

type: close #2622
  packages/rest/src/helpers/guilds/automod/editAutomodRule.ts
  packages/types/src/discord.ts
Due: rest:unit

bigbot: `ReferenceError: publishMessage is not defined`
  template/bigbot/src/bot/index.ts
Due: none

ci(fix): explicitly define coverage file
  .github/workflows/test.yml
Due: none

refactor: remove transformers in helpers/emoji
  packages/rest/src/helpers/emojis/createEmoji.ts
  packages/rest/src/helpers/emojis/editEmoji.ts
  packages/rest/src/helpers/emojis/getEmoji.ts
  packages/rest/src/helpers/emojis/getEmojis.ts
Due: rest:unit

type: fix discord guild type
  packages/types/src/discord.ts
Due: none
