Repository discordeno/Discordeno: changes, and which Codecov flags are due for each by the changed paths.
All: bot:unit, discordeno:unit, embeds:unit, gatway:unit, logger:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

feat: DiscordEditAutomoderationRule type
  packages/bot/src/helpers/guilds/automod/editAutomodRule.ts
  packages/types/src/discord.ts
Due: bot:unit

fix: remove unused type
  packages/types/src/discord.ts
Due: none

feat: DiscordCreateGuildEmoji DiscordModifyGuildEmoji & DiscordModifyCHannel types
  packages/rest/src/helpers/channels/editChannel.ts
  packages/rest/src/helpers/emojis/createEmoji.ts
  packages/rest/src/helpers/emojis/editEmoji.ts
  packages/types/src/discord.ts
Due: rest:unit

feat: DiscordCreateChannel DiscordBuDeleteMessages DiscordCreateMessage DiscordEditMessage
  packages/rest/src/helpers/channels/createChannel.ts
  packages/rest/src/helpers/messages/deleteMessages.ts
  packages/rest/src/helpers/messages/editMessage.ts
  packages/rest/src/helpers/messages/sendMessage.ts
  packages/types/src/discord.ts
Due: rest:unit

feat: DiscordCreateScheduledEvent EditScheduledEvent DiscordCreateInvite
  packages/rest/src/helpers/guilds/events/createScheduledEvent.ts
  packages/rest/src/helpers/guilds/events/editScheduledEvent.ts
  packages/rest/src/helpers/guilds/invites/createInvite.ts
  packages/types/src/discord.ts
Due: rest:unit

fix: types for guild stuff for rest
  packages/rest/src/helpers/guilds/createGuild.ts
  packages/rest/src/helpers/guilds/editGuild.ts
  packages/rest/src/helpers/guilds/editGuildMfaLevel.ts
  packages/rest/src/helpers/guilds/editWelcomeScreen.ts
  packages/rest/src/helpers/guilds/voice/editVoiceState.ts
  packages/rest/src/helpers/guilds/widget/editWidgetSettings.ts
  packages/types/src/discord.ts
Due: rest:unit

feat: thread discord types for rest
  packages/rest/src/helpers/channels/threads/startThreadWithMessage.ts
  packages/rest/src/helpers/channels/threads/startThreadWithoutMessage.ts
  packages/types/src/discord.ts
Due: rest:unit

feat: channel rest types
  packages/rest/src/helpers/channels/announcements/followAnnouncementChannel.ts
  packages/rest/src/helpers/channels/editChannelPermissionOverrides.ts
  packages/rest/src/helpers/channels/editChannelPositions.ts
  packages/rest/src/helpers/channels/forums/createForumThread.ts
  packages/types/src/discord.ts
Due: rest:unit

feat: member rest types
  packages/rest/src/helpers/members/banMember.ts
  packages/rest/src/helpers/members/editBotMember.ts
  packages/rest/src/helpers/members/editMember.ts
  packages/rest/src/helpers/members/getDmChannel.ts
  packages/rest/src/helpers/members/pruneMembers.ts
  packages/types/src/discord.ts
Due: rest:unit

deleted validators
  helpers/channels/editChannelPositions.ts
  helpers/guilds/events/createScheduledEvent.ts
  helpers/guilds/events/editScheduledEvent.ts
  helpers/guilds/getPruneCount.ts
  helpers/guilds/voice/connectToVoiceChannel.ts
  helpers/guilds/voice/leaveVoiceChannel.ts
  helpers/members/fetchMembers.ts
  helpers/members/getDmChannel.ts
  helpers/members/pruneMembers.ts
  helpers/members/searchMembers.ts
  helpers/messages/deleteMessages.ts
  helpers/messages/getMessages.ts
  helpers/misc/editShardStatus.ts
  helpers/templates/createGuildTemplate.ts
  helpers/templates/editGuildTemplate.ts
Due: none

feat: more discord rest types
  packages/rest/src/helpers/roles/createRole.ts
  packages/rest/src/helpers/roles/editRole.ts
  packages/rest/src/helpers/roles/editRolePositions.ts
  packages/rest/src/helpers/stickers/createGuildSticker.ts
  packages/rest/src/helpers/stickers/editGuildSticker.ts
  packages/rest/src/helpers/templates/createGuildTemplate.ts
  packages/rest/src/helpers/templates/editGuildTemplate.ts
  packages/rest/src/helpers/webhooks/createWebhook.ts
  packages/rest/src/helpers/webhooks/editWebhook.ts
  packages/rest/src/helpers/webhooks/executeWebhook.ts
  packages/types/src/discord.ts
Due: rest:unit

fix: type errors
  packages/types/src/discord.ts
Due: none

[Scheduled] Auto patch objects
  cache/cachedObject/announcement-channel.json
  cache/cachedObject/guild.json
  cache/cachedObject/member.json
  cache/cachedObject/message.json
  cache/cachedObject/moderator-channel.json
  cache/cachedObject/role.json
  cache/cachedObject/rules.json
  cache/cachedObject/stage-channel.json
  cache/cachedObject/text-channel.json
  cache/cachedObject/user.json
  cache/cachedObject/voice-channel.json
Due: none

type: fix type error
  packages/rest/src/helpers/channels/forums/createForumThread.ts
  packages/rest/src/helpers/guilds/createGuild.ts
  packages/rest/src/helpers/guilds/editGuildMfaLevel.ts
  packages/rest/src/helpers/guilds/events/createScheduledEvent.ts
  packages/rest/src/helpers/guilds/events/editScheduledEvent.ts
  packages/rest/src/helpers/templates/editGuildTemplate.ts
  packages/types/src/discord.ts
Due: rest:unit

ci(fix): codecov
  codecov.yml
Due: none

chore(client) :add export transformer
  packages/client/src/index.ts
Due: none

missing export
  transformers/mod.ts
Due: none

fix: verifySignature
  packages/utils/package.json
  packages/utils/src/verifySignature.ts
  packages/utils/tests/verifySignature.spec.ts
  yarn.lock
Due: utils:unit

test: fix types
  packages/utils/tests/base64.spec.ts
Due: utils:unit

test: add test prevent #2683 #2678
  packages/client/tests/empty.spec.ts
  packages/client/tests/handlers.spec.ts
  packages/client/tests/transformers.spec.ts
Due: none

fix: export transformer twice
  packages/discordeno/src/index.ts
Due: discordeno:unit

ci: reuse cache
  .github/workflows/test.yml
Due: none

test: add test:unit-noTextCoverage
  .github/workflows/test.yml
  package.json
  packages/client/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/plugins/cache/package.json
  packages/plugins/fileloader/package.json
  packages/plugins/permissions/package.json
  packages/plugins/utils/package.json
  packages/plugins/validations/package.json
  packages/rest/package.json
  packages/utils/package.json
  turbo.json
Due: discordeno:unit, rest:unit, utils:unit, cache-plugin:unit, fileloader-plugin:unit, permissions-plugin:unit, utils-plugin:unit, validations-plugin:unit

feat: add transform and constant package
  package.json
  packages/client/package.json
  packages/constant/.c8rc.json
  packages/constant/.mocharc.json
  packages/constant/.swcrc
  packages/constant/package.json
  packages/constant/src/index.ts
  packages/constant/tests/empty.spec.ts
  packages/constant/tsconfig.json
  packages/constant/tsconfig.test.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/rest/src/routes.ts
  packages/transformer/.c8rc.json
  packages/transformer/.mocharc.json
  packages/transformer/.swcrc
  packages/transformer/package.json
  packages/transformer/src/index.ts
  packages/transformer/tests/empty.spec.ts
  packages/transformer/tsconfig.json
  packages/transformer/tsconfig.test.json
  packages/utils/package.json
  yarn.lock
Due: rest:unit, utils:unit

fix: half fix #2683 #2688
  packages/client/src/client.ts
  packages/client/src/handlers.ts
  packages/client/src/handlers/channels/index.ts
  packages/client/src/handlers/guilds/GUILD_STICKERS_UPDATE.ts
  packages/client/src/handlers/guilds/index.ts
  packages/client/src/handlers/misc/APPLICATION_COMMAND_PERMISSIONS_UPDATE.ts
  packages/client/src/handlers/misc/index.ts
  packages/client/src/transformer.ts
  packages/client/tests/handlers.spec.ts
  packages/client/tests/transformers.spec.ts
  packages/types/src/discord.ts
  packages/types/src/shared.ts
Due: none

fix: #2688 fix all transformer.spec.ts
  packages/client/src/transformer.ts
Due: none

fix: transformer name
  packages/client/src/transformers/interaction.ts
Due: none

ci: update style
  .github/workflows/test.yml
  .github/workflows/unit-test.yml
  codecov.yml
Due: none

fix: dependencies
  packages/client/package.json
Due: none

fix: naming
  .github/workflows/package-test.yml
  .github/workflows/test.yml
Due: none

fix: yarn lock
  yarn.lock
Due: none

added ActiveDeveloper Flag
  types/shared.ts
Due: none

wrong bit
  types/shared.ts
Due: none

Path conditions:
  bot:unit: any of: packages/bot
  discordeno:unit: any of: packages/discordeno
  embeds:unit: any of: packages/embeds
  gatway:unit: any of: packages/gatway
  logger:unit: any of: packages/logger
  rest:unit: any of: packages/rest
  utils:unit: any of: packages/utils
  cache-plugin:unit: any of: packages/plugins/utils
  fileloader-plugin:unit: any of: packages/plugins/fileloader
  permissions-plugin:unit: any of: packages/plugins/permissions
  utils-plugin:unit: any of: packages/plugins/utils
  validations-plugin:unit: any of: packages/plugins/validations
